
.container1 {
    margin: 0 auto;
    }
.line2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.Block1 p {
width: 602px;
font-size: 22px;
color: #534D4D;
font-family: 'Roboto', sans-serif;
}
.Block1 h1 {
    width: 600px;
    font-size: 78px;
    color: #534D4D;
    font-family: 'Lato', sans-serif;

}
.read {
    background-color: #3D37F1;
    margin-left: 132px;
    border-radius: 23px;
    display: flex;
    align-items: center;
    
}
.Photo {
    width: 801px;
    height: 523px;
}















.Container {
    width: 1169px;
    margin: 0 auto;
    }
.Text-section {
    text-align: center;
}
.Text-section p {
    width: 712px;
    height: 85px;
    margin: auto;
    font-size: 18px;
    color: #747474;
    font-family: 'Roboto', sans-serif;
}
.read1 {
    width: 129px;
    height: 43px;
    background-color: #FFFFFF;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: dotted;
    border-right-color: #3D37F1;

}
.read2 {
    width: 131px;
    height: 45px;
    background-color: #FFFFFF;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Text-section h3 {
    color: #5A5454;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    margin-bottom: 21px;
    margin-top: 17px;
}
.Text-section h2{
    font-size: 20px;
    color: #3D37F1;
    font-family: 'Lato', sans-serif;
}
.line1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Block {
    width: 370px;
    height: 451px;
    margin-bottom: 60px;
    padding-top: 88px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Block p {
    width: 328px;
    height: 68px;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    
}
.Block:nth-child(1)
{
background-color: #FBBA77;
}
.Block:nth-child(2) {
    background-color: #41EAE3;
}
.Block:nth-child(3)
{
    background-color: #69529F;
}
.Block:nth-child(4){
    background-color: #4386D2;
}
.Block:nth-child(5){
    background-color: #A5A2F6;
}
.Block:nth-child(6){
    background-color: #FF8088;
}
.Block h3 {
    margin-top: 57px;
    margin-bottom: 10px;
    color: #FFFFFF;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
}
.image :hover {
    color: sienna;
}